[submodule ".vim/pack/git-plugins/opt/solarized8"]
	path = .vim/pack/git-plugins/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/git-plugins/start/tagbar"]
	path = .vim/pack/git-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/git-plugins/start/vim-surround"]
	path = .vim/pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/git-plugins/start/vim-virtualenv"]
	path = .vim/pack/git-plugins/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/git-plugins/start/vim-airline"]
	path = .vim/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/git-plugins/start/vim-airline-themes"]
	path = .vim/pack/git-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/git-plugins/start/fugitive"]
	path = .vim/pack/git-plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/git-plugins/start/riv.vim"]
	path = .vim/pack/git-plugins/start/riv.vim
	url = https://github.com/gu-fan/riv.vim.git
[submodule ".vim/pack/git-plugins/start/vim-gitgutter"]
	path = .vim/pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/git-plugins/start/jedi-vim"]
	path = .vim/pack/git-plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/git-plugins/opt/edge"]
	path = .vim/pack/git-plugins/opt/edge
	url = https://github.com/sainnhe/edge
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/git-plugins/start/ultisnips"]
	path = .vim/pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/git-plugins/start/fzf.vim"]
	path = .vim/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
